body {
    background-color: black;
    color: white;
}

.Category, .PlayerInfo, .EnemyInfo {
    border: 2px solid white;
    margin: 4px;
}

.Commands {
    margin: 6px;
}

.BattleGeneralInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

.Message {
    height: 100%;
}